
html.light {
    --color-bg: #fff;
    --color-bg-disabled: #e9ecef;
    --color-bg-input: #fff;
    --color-text: #616161;
}

html.dark {
    --color-bg: #000;
    --color-bg-disabled: #1b1b1b;
    --color-bg-input: #ccc;
    --color-text: #a7a7a7;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-text) !important;
    background-color: var(--color-bg) !important;
}

h1 {
    margin-bottom: 50px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px;
    text-align: center;
    margin: auto 0;
}

.themes {
    margin-top: 10px;
}

.menu {
    list-style-type: none;
    margin-top: 20px;
}

.menu li {
    display: inline-block;
    margin-right: 15px;
}

.menu a {
    color: #5a8dd7;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
}

.menu .active {
    color: #0b63e7;
    font-weight: 700;
    /*border-bottom: 3px solid #0b63e7;*/
}

.menu a:hover {
    color: #0b63e7;
    font-weight: 700;
    /*border-bottom: 3px solid #0b63e7;*/
}

.menu a:active {
    color: #0b63e7;
    font-weight: 700;
    /*border-bottom: 3px solid #0b63e7;*/
}

textarea.form-control,
input.form-control,
textarea.form-control:focus,
input.form-control:focus,
textarea.form-control:active,
input.form-control:active
{
    background-color: var(--color-bg-input);
}
.form-control:disabled, .form-control[readonly] {
    background-color: var(--color-bg-disabled) !important;
    opacity: 1;
}


.footer {
    height: 80px;

}

/* Элементу .top занимать все доступное пространство */
.top {
    flex-grow: 1;
}