<h1 class="text-center">{{ title }}</h1>
<p class="text-center">{{ description }}</p>
<form method="post">
    <div class="mb-3">
        <label for="FormControlTypeKey" class="form-label">{{ words.existing_key[language] }}</label>
        <input type="text" name="UserKey" class="form-control" id="FormControlTypeKey"
               placeholder="czL34s8eqmyCeIV454e--Uti6u9pd51_VXMYJKuHxk8=" required value="{{ key }}">
    </div>
    <div class="mb-3">
        <label for="FormControlTextarea" class="form-label">{{ words.text[language] }}</label>
        <textarea name="text" class="form-control" id="FormControlTextarea" rows="5" required>{{ text }}</textarea>
    </div>
    <p class="text-center">
        <button type="submit" class="btn btn-primary">{{ words.decrypt[language] }}</button>
    </p>
</form>
